.grid1 img {
  box-shadow: -8px 2px 8px rgba(6, 54, 68, 0.4);
  /* Adjust the values as needed */
}
.grid1 {
  animation: pulse 2s;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.content1-Image {
  position: relative;
  height: 470px;
  color: black;
}
.content1-Image::before {
  content: "";

  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 40%;
  border-radius: 30px;
  background-image: linear-gradient(
      90deg,
      rgb(209, 209, 209),
      rgb(207, 207, 207)
    ),
    linear-gradient(
      45deg,
      rgb(177, 223, 206) 0%,
      rgb(177, 223, 206) 46%,
      rgb(147, 192, 214) 46%,
      rgb(147, 192, 214) 56%,
      rgb(117, 162, 222) 56%,
      rgb(117, 162, 222) 61%,
      rgb(86, 131, 229) 61%,
      rgb(86, 131, 229) 64%,
      rgb(56, 101, 237) 64%,
      rgb(56, 101, 237) 82%,
      rgb(26, 70, 245) 82%,
      rgb(26, 70, 245) 100%
    ),
    linear-gradient(
      135deg,
      rgb(177, 223, 206) 0%,
      rgb(177, 223, 206) 46%,
      rgb(147, 192, 214) 46%,
      rgb(147, 192, 214) 56%,
      rgb(117, 162, 222) 56%,
      rgb(117, 162, 222) 61%,
      rgb(86, 131, 229) 61%,
      rgb(86, 131, 229) 64%,
      rgb(56, 101, 237) 64%,
      rgb(56, 101, 237) 82%,
      rgb(26, 70, 245) 82%,
      rgb(26, 70, 245) 100%
    );
  background-blend-mode: overlay, overlay, normal;
}
.typo {
  position: relative;
  color: #ffffff;
  font-size: 14rem;
  line-height: 0.9;
  right: 20px;
}
